.header
  i.fa.fa-exchange.fa-lg.toggle-sidebar
  .dropdown.notifications-container
    i.fa.fa-bell.fa-lg.header-icon#notifications(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
    .dropdown-menu(aria-labelledby="notifications")
      .noti-head
        | Notifications
        span 50
      .noti-content
        ul.list-unstyled
          li
            i.fa.fa-envelope-o.fa-lg
            | you get Email from bla bla bla
          li
            i.fa.fa-money.fa-lg
            | you get Money from bla bla bla
          li
            i.fa.fa-thumbs-o-up.fa-lg
            | you get Like from bla bla bla
          li
            i.fa.fa-envelope-o.fa-lg
            | you get Email from bla bla bla
          li
            i.fa.fa-money.fa-lg
            | you get Money from bla bla bla                                    
      .noti-foot.text-center: a(href="#") View All Notification
  i.fa.fa-expand.fa-lg.toggle-fullscreen.header-icon
  .dropdown.usermenu-container
    .username#usermenu(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
      img.avatar.rounded-circle(src="images/avatar.jpg", alt="user avatar")
      span.user Ahmed Ghnam
      i.fa.fa-angle-down.fa-lg
    .dropdown-menu.dropdown-menu-right(aria-labelledby="usermenu")
      .user-info
        h3 Ahmed Ghnam
        p Premium Member
      hr
      ul.activities-list.list-unstyled
        li added comment on post "how to make bla bla bla"
        li created post on category "science"
        li created chert on charts page
        li added comment on post "how to make bla bla bla"
        hr
        .row.usermenu-links
          .col
            .link-box 
              i.fa.fa-gear.fa-lg.fa-fw.1
              span settings
          .col
            .link-box
              i.fa.fa-user.fa-lg.fa-fw.2
              span My Profile
          .col
            .link-box
              i.fa.fa-power-off.fa-lg.fa-fw.3
              span Log Out