.settings-box.hide-settings
  .toggle-settings
    i.fa.fa-gear.ga-lg
  .setting-content
    .option-box
      h4 Color Options
    .option-box
      h4 Font Options
    .option-box
      h4 Sidbar Options